version: '3'

services:
  zookeeper:
    image: wurstmeister/zookeeper
    container_name: zookeeper
    ports:
      - "2181:2181"
  kafka:
    image: wurstmeister/kafka
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_HOST_NAME: localhost
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

#  docker compose -f docker-compose.yml up -d
#


#to see kafka up or not
#docker exec -it kafka /bin/sh (it will go inside docker cli)
# comment used to create topic quick start( kafka-topics.sh --create --zookeeper zookeeper:2181 --replication-factor 1 --partitions 1 --topic quickstart)
#  kafka-console-producer.sh --topic quickstart --bootstrap-server localhost:9092 (to produce the message)
# kafka-console-consumer.sh --topic quickstart --from-beginning --bootstrap-server localhost:9092