server:
  port: 8080

spring:
  application:
    name: API-GATEWAY
  main:
    web-application-type: reactive
  cloud:
    gateway:
      default-filters:
        - AddRequestHeader=Forwarded-By, API-GATEWAY
      routes:
        # User Service APIs
        - id: USER-SERVICE
          uri: lb://USER-SERVICE
          predicates:
            - Path=/api/users/**

        # Turf Service APIs
        - id: TURF-SERVICE
          uri: lb://TURF-SERVICE
          predicates:
            - Path=/api/turfs/**

        # Booking Service APIs
        - id: BOOKING-SERVICE
          uri: lb://BOOKING-SERVICE
          predicates:
            - Path=/api/bookings/**

        # Payment Service APIs
        - id: PAYMENT-SERVICE
          uri: lb://PAYMENT-SERVICE
          predicates:
            - Path=/api/payments/**

        # Notification Service APIs
        - id: NOTIFICATION-SERVICE
          uri: lb://NOTIFICATION-SERVICE
          predicates:
            - Path=/api/notifications/**

        # Swagger routes per service (clear scoping)
        - id: USER-SERVICE-SWAGGER
          uri: lb://USER-SERVICE
          predicates:
            - Path=/user/swagger-ui/**,/user/v3/api-docs/**
          filters:
            - StripPrefix=1

        - id: TURF-SERVICE-SWAGGER
          uri: lb://TURF-SERVICE
          predicates:
            - Path=/turf/swagger-ui/**,/turf/v3/api-docs/**
          filters:
            - StripPrefix=1

        - id: BOOKING-SERVICE-SWAGGER
          uri: lb://BOOKING-SERVICE
          predicates:
            - Path=/booking/swagger-ui/**,/booking/v3/api-docs/**
          filters:
            - StripPrefix=1

        # Payment Swagger (accessible without JWT)
        - id: PAYMENT-SERVICE-SWAGGER
          uri: lb://PAYMENT-SERVICE
          predicates:
            - Path=/payment/swagger-ui/**,/payment/v3/api-docs/**
          filters:
            - StripPrefix=1

        # Notification Swagger (accessible without JWT)
        - id: NOTIFICATION-SERVICE-SWAGGER
          uri: lb://NOTIFICATION-SERVICE
          predicates:
            - Path=/notification/swagger-ui/**,/notification/v3/api-docs/**
          filters:
            - StripPrefix=1
eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka

security:
  jwt:
    secret: booknplay_very_strong_jwt_key_123456!

logging:
  level:
    org.springframework.cloud.gateway: INFO
    org.springframework.security: INFO